<%-include('header')-%>

<form class="addr-wrapper container-fluid d-flex flex-column align-items-center justify-content-center h-75" method="post" action="/addr-update">
  <div class="form-group flex-row w-50">
    <label for="inputAddress">Address</label>
    <input type="text" name="addr1" class="form-control" id="inputAddress" placeholder="1234 Main St" value="<%=addr.addr1%>" required>
  </div>
  <div class="form-group flex-row w-50">
    <label for="inputAddress2">Address 2</label>
    <input type="text" name="addr2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value="<%=addr.addr2%>">
  </div>
  <div class="form-row flex-row w-50">
    <div class="form-group pl-0 col-md-4">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control" id="inputCity" value="<%=addr.city%>" required>
    </div>
    <div class="form-group pl-0 col-md-5">
      <label for="inputState">State</label>
      <select id="inputState" name="state" class="form-control">
        <option>Choose...</option>
        <%states.forEach(state=>{%>
        <%  let selected; %>
        <% if(addr.state === state.code) selected = "selected";%>
        <option value="<%=state.code%>" <%=selected%>><%=state.name%></option>
        <%})%>
      </select>
    </div>
    <div class="form-group pl-0 pr-0 col-md-3">
      <label for="inputZip">Zip</label>
      <input type="text" name="pin" class="form-control" id="inputZip" maxlength="6" value="<%=addr.pin%>" required>
    </div>
  </div>
  <div class="form-group flex-row w-50">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" checked disabled>
      <label class="form-check-label" for="gridCheck">
        Use this
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary flex-row w-10">Update</button>
</form>

<%-include('footer')-%>
<script src="/scripts/account.js" charset="utf-8"></script>
